!!! 5
html(lang="en")
    head
        meta(http-equiv="X-UA-Compatible" content="IE=edge", name="viewport" content="width=device-width", charset="UTF-8")
        title="Orwell"
        link(rel='stylesheet', href='css/foundation.css')
        script(id="sap-ui" src="https://sapui5.netweaver.ondemand.com/resources/sap-ui-core.js" data-sap-ui-theme="sap_goldreflection" data-sap-ui-libs="sap.ui.commons")
        script(src="http://192.241.238.64:3000/socket.io/socket.io.js")
        script(src="js/highcharts.js")
        script(src="js/ui.js")
        script(src="js/myjs.js")
        script(src="js/graphs.js")
    body
        nav.top-bar
            ul.title-area
                li.name
                  h1
                    a(href='/graphs')
                        img(src="/blackLogo.png")
                li.toggle-topbar.menu-icon
                  a(href='#')
                    span Menu
              section.top-bar-section
                ul.left
                  li.divider
                  li.active
                    a(href='/graphs') Track
                  li.divider
                  li.has-dropdown
                    a(href='#') Gráficas
                    ul.dropdown
                      li
                        a(href='#') Sentimiento
                      li
                        a(href='#') Twits por hora
                      li
                        a(href='#') Mapa de Twits
                      li
                        a(href='#') Mapa de Calor
                  li.divider
                  li.has-dropdown
                    a(href='#') Administración
                    ul.dropdown
                      li
                        a(href='#') Campañas
                      li
                        a(href='#') Pauta
        div.row
            div.large-12.columns
                div.panel
                    div#container
        div.six.colums
            h4 Live Stream
            div.row#fila
                div.two.phone-one.colums
                    a(href='#')
                        img(src="http://placehold.it/80x100")
                div.ten.phone-three.colums
                    h5.right
                    h4
                        a(href='#').
                    p
        div.row
            div.large-12.columns
                div.panel
                    div#twits
                        ul.tweets(style="height: 400; overflow: scroll;")
        script(type='text/javascript').
            document.write('<script src=/js/vendor/'
            + ('__proto__' in {} ? 'zepto' : 'jquery')
            + '.js><\/script>');
        script(src='js/foundation.min.js')
        script(type='text/javascript').
          $(document).foundation();
