!!! 5
html(lang="en")
    head
        meta(http-equiv="X-UA-Compatible" content="IE=edge", name="viewport" content="width=device-width", charset="UTF-8")
        title="Orwell"
        link(rel='stylesheet', href='css/foundation.css')
        script(id="sap-ui" src="https://sapui5.netweaver.ondemand.com/resources/sap-ui-core.js" data-sap-ui-theme="sap_goldreflection" data-sap-ui-libs="sap.ui.commons")
        script(src="js/highcharts.js")
        script(src="js/ui.js")
        script(src="js/history.js")
        script(src="https://maps.googleapis.com/maps/api/js?sensor=true")
        script(src="js/maps.js")
    body.sapUiBody
        div.container.top-bar.home-border.hide-for-small
            div.attached
                div.name(onclick="void(0);")
                    span
                        a(href="http://www.google.com").
                            foundation
                ul.right
                    li.show-for-small
                        a(href="http://www.google.com").
                            foundation
                    li
                        a(href="http://www.google.com").
                            foundation
                    li
                        a(href="http://www.google.com").
                            foundation
        div.row
            div.large-6.columns
                div.panel
                    h2 Horas
                    div#hours
            div.large-6.columns
                div.panel
                    h2 Usuarios
                    div#twiters
        div.row
            div.large-6.columns
                div.panel
                    h2 Sentimiento
                    div#history
            div.large-6.columns
                div.panel
                    h2 Mapa
                    div#maps(style="margin:0;padding:0;height:350px")
