!!! 5
html(lang="en")
    head
        meta(http-equiv="X-UA-Compatible" content="IE=edge", name="viewport" content="width=device-width", charset="UTF-8")
        title="Orwell"
        link(rel='stylesheet', href='css/foundation.css')
        script(id="sap-ui" src="https://sapui5.netweaver.ondemand.com/resources/sap-ui-core.js" data-sap-ui-theme="sap_goldreflection" data-sap-ui-libs="sap.ui.commons")
        script(src="js/highcharts.js")
        script(src="js/ui.js")
        script(src="js/history.js")
        script(src="https://maps.googleapis.com/maps/api/js?sensor=true")
        script(src="js/maps.js")
    body
        div.row
            div.large-3.columns
                h1
                    img(src="/logo.png")
            div.large-9.columns
                ul.inline-list.right
                    li
                        a(href="/history").
                            Histórico 
                ul.inline-list.right
                    li
                        a(href="/graphs").
                            Gráficas 
                ul.inline-list.right
                    li
                        a(href="/admin").
                            Administración
        div.row
            //- div.large-12.columns
            div.large-4.columns
                p Fecha y hora de inicio
                input#dateStart(type="date")
                input#timeStart(type="time")
            div.large-4.columns
                p Fecha y hora de fin
                input#dateEnd(type="date")
                input#timeEnd(type="time")
            div.large-3.columns
                a#filter.small.button.
                    Filtrar
            div.large-12.columns
                div.panel
                    h2 Horas
                    div#hours
        div.row
            div.large-12.columns
                div.panel
                    h2 Usuarios
                    div#twiters
        div.row
            div.large-12.columns
                div.panel
                    h2 Sentimiento
                    div#history
            div.large-12.columns
                div.panel
                    h2 Mapa
                    div#maps(style="margin:0;padding:0;height:350px")
