!!! 5
html(lang="en")
  head
      title="Orwell"
      script(src="http://http://192.241.238.64:3000/socket.io/socket.io.js")
      script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
      script(src="/real.js")
  body
      #local-tweet-container
            ul.tweets(style="height: 400; overflow: scroll;")




