!!! 5
html(lang="en")
  head
      title="Orwell"
      script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
      script(src="js/real.js")
      script(src="http://192.241.238.64:3000/socket.io/socket.io.js")
      //- script(src="http://localhost:3000/socket.io/socket.io.js")
  body
    div.six.colums
        h4 Live Stream
        div.row
            div.two.phone-one.colums
                a(href='#')
                    img(src="http://placehold.it/80x100")
            div.ten.phone-three.colums
                h5.right $85
                h4
                    a(href='#').
                        Tetris
                p lorem lorem
            div.row
                div.two.phone-one.colums
                    a(href='#')
                        img(src="http://placehold.it/80x100")
        #local-tweet-container
            ul.tweets(style="height: 400; overflow: scroll;")